@charset "utf-8";
/* body 의 바깥 여잭을 없앰으로써 내비게이션 바가 페이지에 바짝 붙게 함*/
body {
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0; /*쓸데 없는 공백 제거*/
  padding: 0; /*쓸데 없는 공백 제거*/
  background-color: darkslategrey;
  list-style-type: none; /* 목록 기호 제거 */
}

.nav-item {
  padding: 15px;
  cursor: pointer; /* 마우스 커서를 pointer모양으로 힘*/
}

.nav-item a {
  /* nav-item 클래스 아래의 a 요소를 선택함*/
  text-align: center;
  text-decoration: none; /* 밑줄없앰*/
  color: white;
}
.navbar-form navbar-left {
  flex-direction: row;
  height: 40px;
  width: 400px;
}
input {
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0;
  outline: none;
  floaf: left;
}
button {
  width: 50px;
  height: 50px;
  height: 100%;
  border: 0px;
  background: #1b5ac2;
  outline: none;
  float: right;
  color: #ffffff;
}
